//==================================================
//=== Display ==== == = -- -
//==================================================
.c\:d-grid{
    display: grid;
}
.c\:d-hide{
    display:none;
}
.c\:d-flex{
    display:flex;
}
.c\:d-block{
    display:block;
}
.c\:d-inline-block{
    display:inline-block;
}
