///*==================================================
//=== Opacity ==== == = -- -
//==================================================*/
@for $i from 0 through 10 {
    $op : $i * 0.1;
    .c\:op-#{$i}{
        opacity: #{$op};
    }
    .c\:hover\:op-#{$i}:hover{
        opacity: #{$op};
    }
}
