@import "../media";

$breakpoints :xxs , xs , sm , md , lg , li , xl , xxl;

@include media-xxs {

    ///*==================================================
    //=== Positions ==== == = -- -
    //==================================================*/
    .c\:pos-xxs-0{
        top:    0;
        right:  0;
        bottom: 0;
        left:   0;
    }
    .c\:posy-xxs-0{
        top:    0;
        bottom: 0;
    }
    .c\:posx-xxs-0{
        right:  0;
        left:   0;
    }
    .c\:posl-xxs-0{
        left:   0;
    }
    .c\:posr-xxs-0{
        right:  0;
    }
    .c\:post-xxs-0{
        top:    0;
    }
    .c\:posb-xxs-0{
        bottom: 0;
    }

    ///*==================================================
    //=== Font ==== == = -- -
    //==================================================*/
    @for $i from 8 through 60 {
        .c\:f-xxs-#{$i}x {
            font-size: #{$i}px;
        }
    }

    ///*==================================================
    //=== Letter Spacing ==== == = -- -
    //==================================================*/
    @for $i from 1 through 10 {
        .c\:letter-sp-xxs-#{$i}x{
            letter-spacing: #{$i}px;
        }
    }


    //==================================================
    //=== Width ==== == = -- -
    //==================================================
    .c\:w-xxs-0{
        width: 0;
    }
    .c\:mw-xxs-content{
        max-width: max-content;
    }
    .c\:mw-xxs-content\!{
        max-width: max-content!important;
    }
    .c\:w-xxs-content{
        width: max-content;
    }
    .c\:w-xxs-content\!{
        width: max-content!important;
    }
    .c\:w-xxs-fit{
        width: fit-content;
    }
    @for $i from 1 through 50 {//pixel
        $w : $i * 10;
        .c\:w-xxs-#{$w}x {
            width: #{$w}px;
        }
        .c\:mw-xxs-#{$w}x {
            max-width: #{$w}px;
        }
    }
    @for $i from 1 through 20 {//Percent
        $name : $i * 5;
        $value : percentage($i * 5)/100;
        .c\:w-xxs-#{$name} {
            max-width: #{$value};
        }
        .c\:mw-xxs-#{$name} {
            max-width: #{$value};
        }
    }




    ///*==================================================
    //=== Height ==== == = -- -
    //==================================================*/
    .c\:h-xxs-0{
        height: 0;
    }
    .c\:h-xxs-content{
        max-height: max-content;
    }
    .c\:mh-xxs-content\!{
        max-height: max-content!important;
    }
    .c\:h-xxs-content{
        height: max-content;
    }
    .c\:h-xxs-content-imp{
        height: max-content!important;
    }
    .c\:h-xxs-fit{
        height: fit-content;
    }
    .c\:h-xxs-calc40{
        height: calc(100% - 40px);
    }
    .c\:h-xxs-calc50{
        height: calc(100% - 50px);
    }
    @for $i from 1 through 50 {//pixel
        $h : $i * 10;
        .c\:h-xxs-#{$h}x {
            height: #{$h}px;
        }
        .c\:mh-xxs-#{$h}x {
            max-height: #{$h}px;
        }
    }
    @for $i from 1 through 20 {//percent
        $h : $i * 5;
        $per : percentage($i * 5)/100;

        .c\:h-xxs-#{$h} {
            height: #{$per};
        }
        .c\:mh-xxs-#{$h} {
            max-height: #{$per};
        }
    }

}

@include media-xs {
    .c\:pos-xs-0{
        top:    0;
        right:  0;
        bottom: 0;
        left:   0;
    }
    .c\:posy-xs-0{
        top:    0;
        bottom: 0;
    }
    .c\:posx-xs-0{
        right:  0;
        left:   0;
    }
    .c\:posl-xs-0{
        left:   0;
    }
    .c\:posr-xs-0{
        right:  0;
    }
    .c\:post-xs-0{
        top:    0;
    }
    .c\:posb-xs-0{
        bottom: 0;
    }



    ///*==================================================
    //=== Font ==== == = -- -
    //==================================================*/
    @for $i from 8 through 60 {
        .c\:f-xs-#{$i}x {
            font-size: #{$i}px;
        }
    }

    ///*==================================================
    //=== Letter Spacing ==== == = -- -
    //==================================================*/
    @for $i from 1 through 10 {
        .c\:letter-sp-xs-#{$i}x{
            letter-spacing: #{$i}px;
        }
    }

    //==================================================
    //=== Width ==== == = -- -
    //==================================================
    .c\:w-xs-0{
        width: 0;
    }
    .c\:mw-xs-content{
        max-width: max-content;
    }
    .c\:mw-xs-content\!{
        max-width: max-content!important;
    }
    .c\:w-xs-content{
        width: max-content;
    }
    .c\:w-xs-content\!{
        width: max-content!important;
    }
    .c\:w-xs-fit{
        width: fit-content;
    }
    @for $i from 1 through 50 {//pixel
        $w : $i * 10;
        .c\:w-xs-#{$w}x {
            width: #{$w}px;
        }
        .c\:mw-xs-#{$w}x {
            max-width: #{$w}px;
        }
    }
    @for $i from 1 through 20 {//Percent
        $name : $i * 5;
        $value : percentage($i * 5)/100;
        .c\:w-xs-#{$name} {
            max-width: #{$value};
        }
        .c\:mw-xs-#{$name} {
            max-width: #{$value};
        }
    }


    ///*==================================================
    //=== Height ==== == = -- -
    //==================================================*/
    .c\:h-xs-0{
        height: 0;
    }
    .c\:h-xs-content{
        max-height: max-content;
    }
    .c\:mh-xs-content\!{
        max-height: max-content!important;
    }
    .c\:h-xs-content{
        height: max-content;
    }
    .c\:h-xs-content-imp{
        height: max-content!important;
    }
    .c\:h-xs-fit{
        height: fit-content;
    }
    .c\:h-xs-calc40{
        height: calc(100% - 40px);
    }
    .c\:h-xs-calc50{
        height: calc(100% - 50px);
    }
    @for $i from 1 through 50 {//pixel
        $h : $i * 10;
        .c\:h-xs-#{$h}x {
            height: #{$h}px;
        }
        .c\:mh-xs-#{$h}x {
            max-height: #{$h}px;
        }
    }
    @for $i from 1 through 20 {//percent
        $h : $i * 5;
        $per : percentage($i * 5)/100;

        .c\:h-xs-#{$h} {
            height: #{$per};
        }
        .c\:mh-xs-#{$h} {
            max-height: #{$per};
        }
    }
}

@include media-sm-mid {}

@include media-sm {
    .c\:pos-sm-0{
        top:    0;
        right:  0;
        bottom: 0;
        left:   0;
    }
    .c\:posy-sm-0{
        top:    0;
        bottom: 0;
    }
    .c\:posx-sm-0{
        right:  0;
        left:   0;
    }
    .c\:posl-sm-0{
        left:   0;
    }
    .c\:posr-sm-0{
        right:  0;
    }
    .c\:post-sm-0{
        top:    0;
    }
    .c\:posb-sm-0{
        bottom: 0;
    }


    ///*==================================================
    //=== Font ==== == = -- -
    //==================================================*/
    @for $i from 8 through 60 {
        .c\:f-sm-#{$i}x {
            font-size: #{$i}px;
        }
    }
    ///*==================================================
    //=== Letter Spacing ==== == = -- -
    //==================================================*/
    @for $i from 1 through 10 {
        .c\:letter-sp-sm-#{$i}x{
            letter-spacing: #{$i}px;
        }
    }

    //==================================================
    //=== Width ==== == = -- -
    //==================================================
    .c\:w-sm-0{
        width: 0;
    }
    .c\:mw-sm-content{
        max-width: max-content;
    }
    .c\:mw-sm-content\!{
        max-width: max-content!important;
    }
    .c\:w-sm-content{
        width: max-content;
    }
    .c\:w-sm-content\!{
        width: max-content!important;
    }
    .c\:w-sm-fit{
        width: fit-content;
    }
    @for $i from 1 through 50 {//pixel
        $w : $i * 10;
        .c\:w-sm-#{$w}x {
            width: #{$w}px;
        }
        .c\:mw-sm-#{$w}x {
            max-width: #{$w}px;
        }
    }
    @for $i from 1 through 20 {//Percent
        $name : $i * 5;
        $value : percentage($i * 5)/100;
        .c\:w-sm-#{$name} {
            max-width: #{$value};
        }
        .c\:mw-sm-#{$name} {
            max-width: #{$value};
        }
    }


    ///*==================================================
    //=== Height ==== == = -- -
    //==================================================*/
    .c\:h-sm-0{
        height: 0;
    }
    .c\:h-sm-content{
        max-height: max-content;
    }
    .c\:mh-sm-content\!{
        max-height: max-content!important;
    }
    .c\:h-sm-content{
        height: max-content;
    }
    .c\:h-sm-content-imp{
        height: max-content!important;
    }
    .c\:h-sm-fit{
        height: fit-content;
    }
    .c\:h-sm-calc40{
        height: calc(100% - 40px);
    }
    .c\:h-sm-calc50{
        height: calc(100% - 50px);
    }
    @for $i from 1 through 50 {//pixel
        $h : $i * 10;
        .c\:h-sm-#{$h}x {
            height: #{$h}px;
        }
        .c\:mh-sm-#{$h}x {
            max-height: #{$h}px;
        }
    }
    @for $i from 1 through 20 {//percent
        $h : $i * 5;
        $per : percentage($i * 5)/100;

        .c\:h-sm-#{$h} {
            height: #{$per};
        }
        .c\:mh-sm-#{$h} {
            max-height: #{$per};
        }
    }
}

@include media-md-mid {}

@include media-md {
    .c\:pos-md-0{
        top:    0;
        right:  0;
        bottom: 0;
        left:   0;
    }
    .c\:posy-md-0{
        top:    0;
        bottom: 0;
    }
    .c\:posx-md-0{
        right:  0;
        left:   0;
    }
    .c\:posl-md-0{
        left:   0;
    }
    .c\:posr-md-0{
        right:  0;
    }
    .c\:post-md-0{
        top:    0;
    }
    .c\:posb-md-0{
        bottom: 0;
    }


    ///*==================================================
    //=== Font ==== == = -- -
    //==================================================*/
    @for $i from 8 through 60 {
        .c\:f-md-#{$i}x {
            font-size: #{$i}px;
        }
    }
    ///*==================================================
    //=== Letter Spacing ==== == = -- -
    //==================================================*/
    @for $i from 1 through 10 {
        .c\:letter-md-sp-#{$i}x{
            letter-spacing: #{$i}px;
        }
    }


    //==================================================
    //=== Width ==== == = -- -
    //==================================================
    .c\:w-md-0{
        width: 0;
    }
    .c\:mw-md-content{
        max-width: max-content;
    }
    .c\:mw-md-content\!{
        max-width: max-content!important;
    }
    .c\:w-md-content{
        width: max-content;
    }
    .c\:w-md-content\!{
        width: max-content!important;
    }
    .c\:w-md-fit{
        width: fit-content;
    }
    @for $i from 1 through 50 {//pixel
        $w : $i * 10;
        .c\:w-md-#{$w}x {
            width: #{$w}px;
        }
        .c\:mw-md-#{$w}x {
            max-width: #{$w}px;
        }
    }
    @for $i from 1 through 20 {//Percent
        $name : $i * 5;
        $value : percentage($i * 5)/100;
        .c\:w-md-#{$name} {
            max-width: #{$value};
        }
        .c\:mw-md-#{$name} {
            max-width: #{$value};
        }
    }


    ///*==================================================
    //=== Height ==== == = -- -
    //==================================================*/
    .c\:h-md-0{
        height: 0;
    }
    .c\:h-md-content{
        max-height: max-content;
    }
    .c\:mh-md-content\!{
        max-height: max-content!important;
    }
    .c\:h-md-content{
        height: max-content;
    }
    .c\:h-md-content-imp{
        height: max-content!important;
    }
    .c\:h-md-fit{
        height: fit-content;
    }
    .c\:h-md-calc40{
        height: calc(100% - 40px);
    }
    .c\:h-md-calc50{
        height: calc(100% - 50px);
    }
    @for $i from 1 through 50 {//pixel
        $h : $i * 10;
        .c\:h-md-#{$h}x {
            height: #{$h}px;
        }
        .c\:mh-md-#{$h}x {
            max-height: #{$h}px;
        }
    }
    @for $i from 1 through 20 {//percent
        $h : $i * 5;
        $per : percentage($i * 5)/100;

        .c\:h-md-#{$h} {
            height: #{$per};
        }
        .c\:mh-md-#{$h} {
            max-height: #{$per};
        }
    }


    //==================================================
    //=== Line Height ==== == = -- -
    //==================================================
    @for $i from 9 through 20 {
        $h : $i * 2;
        .c\:line-h-md-#{$h}x{
            line-height: #{$h}px;
        }
    }
}

@include media-lg-mid {}

@include media-lg {
    .c\:pos-lg-0{
        top:    0;
        right:  0;
        bottom: 0;
        left:   0;
    }
    .c\:posy-lg-0{
        top:    0;
        bottom: 0;
    }
    .c\:posx-lg-0{
        right:  0;
        left:   0;
    }
    .c\:posl-lg-0{
        left:   0;
    }
    .c\:posr-lg-0{
        right:  0;
    }
    .c\:post-lg-0{
        top:    0;
    }
    .c\:posb-lg-0{
        bottom: 0;
    }



    ///*==================================================
    //=== Font ==== == = -- -
    //==================================================*/
    @for $i from 8 through 60 {
        .c\:f-lg-#{$i}x {
            font-size: #{$i}px;
        }
    }

    ///*==================================================
    //=== Letter Spacing ==== == = -- -
    //==================================================*/
    @for $i from 1 through 10 {
        .c\:letter-sp-lg-#{$i}x{
            letter-spacing: #{$i}px;
        }
    }



    //==================================================
    //=== Width ==== == = -- -
    //==================================================
    .c\:w-lg-0{
        width: 0;
    }
    .c\:mw-lg-content{
        max-width: max-content;
    }
    .c\:mw-lg-content\!{
        max-width: max-content!important;
    }
    .c\:w-lg-content{
        width: max-content;
    }
    .c\:w-lg-content\!{
        width: max-content!important;
    }
    .c\:w-lg-fit{
        width: fit-content;
    }
    @for $i from 1 through 50 {//pixel
        $w : $i * 10;
        .c\:w-lg-#{$w}x {
            width: #{$w}px;
        }
        .c\:mw-lg-#{$w}x {
            max-width: #{$w}px;
        }
    }
    @for $i from 1 through 20 {//Percent
        $name : $i * 5;
        $value : percentage($i * 5)/100;
        .c\:w-lg-#{$name} {
            max-width: #{$value};
        }
        .c\:mw-lg-#{$name} {
            max-width: #{$value};
        }
    }



    ///*==================================================
    //=== Height ==== == = -- -
    //==================================================*/
    .c\:h-lg-0{
        height: 0;
    }
    .c\:h-lg-content{
        max-height: max-content;
    }
    .c\:mh-lg-content\!{
        max-height: max-content!important;
    }
    .c\:h-lg-content{
        height: max-content;
    }
    .c\:h-lg-content-imp{
        height: max-content!important;
    }
    .c\:h-lg-fit{
        height: fit-content;
    }
    .c\:h-lg-calc40{
        height: calc(100% - 40px);
    }
    .c\:h-lg-calc50{
        height: calc(100% - 50px);
    }
    @for $i from 1 through 50 {//pixel
        $h : $i * 10;
        .c\:h-lg-#{$h}x {
            height: #{$h}px;
        }
        .c\:mh-lg-#{$h}x {
            max-height: #{$h}px;
        }
    }
    @for $i from 1 through 20 {//percent
        $h : $i * 5;
        $per : percentage($i * 5)/100;

        .c\:h-lg-#{$h} {
            height: #{$per};
        }
        .c\:mh-lg-#{$h} {
            max-height: #{$per};
        }
    }


    //==================================================
    //=== Line Height ==== == = -- -
    //==================================================
    @for $i from 9 through 20 {
        $h : $i * 2;
        .c\:line-h-lg-#{$h}x{
            line-height: #{$h}px;
        }
    }

}

@include media-li {
    .c\:pos-li-0{
        top:    0;
        right:  0;
        bottom: 0;
        left:   0;
    }
    .c\:posy-li-0{
        top:    0;
        bottom: 0;
    }
    .c\:posx-li-0{
        right:  0;
        left:   0;
    }
    .c\:posl-li-0{
        left:   0;
    }
    .c\:posr-li-0{
        right:  0;
    }
    .c\:post-li-0{
        top:    0;
    }
    .c\:posb-li-0{
        bottom: 0;
    }



    ///*==================================================
    //=== Font ==== == = -- -
    //==================================================*/
    @for $i from 8 through 60 {
        .c\:f-li-#{$i}x {
            font-size: #{$i}px;
        }
    }
    ///*==================================================
    //=== Letter Spacing ==== == = -- -
    //==================================================*/
    @for $i from 1 through 10 {
        .c\:letter-sp-li-#{$i}x{
            letter-spacing: #{$i}px;
        }
    }



    //==================================================
    //=== Width ==== == = -- -
    //==================================================
    .c\:w-li-0{
        width: 0;
    }
    .c\:mw-li-content{
        max-width: max-content;
    }
    .c\:mw-li-content\!{
        max-width: max-content!important;
    }
    .c\:w-li-content{
        width: max-content;
    }
    .c\:w-li-content\!{
        width: max-content!important;
    }
    .c\:w-li-fit{
        width: fit-content;
    }
    @for $i from 1 through 50 {//pixel
        $w : $i * 10;
        .c\:w-li-#{$w}x {
            width: #{$w}px;
        }
        .c\:mw-li-#{$w}x {
            max-width: #{$w}px;
        }
    }
    @for $i from 1 through 20 {//Percent
        $name : $i * 5;
        $value : percentage($i * 5)/100;
        .c\:w-li-#{$name} {
            max-width: #{$value};
        }
        .c\:mw-li-#{$name} {
            max-width: #{$value};
        }
    }



    ///*==================================================
    //=== Height ==== == = -- -
    //==================================================*/
    .c\:h-li-0{
        height: 0;
    }
    .c\:h-li-content{
        max-height: max-content;
    }
    .c\:mh-li-content\!{
        max-height: max-content!important;
    }
    .c\:h-li-content{
        height: max-content;
    }
    .c\:h-li-content-imp{
        height: max-content!important;
    }
    .c\:h-li-fit{
        height: fit-content;
    }
    .c\:h-li-calc40{
        height: calc(100% - 40px);
    }
    .c\:h-li-calc50{
        height: calc(100% - 50px);
    }
    @for $i from 1 through 50 {//pixel
        $h : $i * 10;
        .c\:h-li-#{$h}x {
            height: #{$h}px;
        }
        .c\:mh-li-#{$h}x {
            max-height: #{$h}px;
        }
    }
    @for $i from 1 through 20 {//percent
        $h : $i * 5;
        $per : percentage($i * 5)/100;

        .c\:h-li-#{$h} {
            height: #{$per};
        }
        .c\:mh-li-#{$h} {
            max-height: #{$per};
        }
    }
}

@include media-xl {
    .c\:pos-xl-0{
        top:    0;
        right:  0;
        bottom: 0;
        left:   0;
    }
    .c\:posy-xl-0{
        top:    0;
        bottom: 0;
    }
    .c\:posx-xl-0{
        right:  0;
        left:   0;
    }
    .c\:posl-xl-0{
        left:   0;
    }
    .c\:posr-xl-0{
        right:  0;
    }
    .c\:post-xl-0{
        top:    0;
    }
    .c\:posb-xl-0{
        bottom: 0;
    }


    ///*==================================================
    //=== Font ==== == = -- -
    //==================================================*/
    @for $i from 8 through 60 {
        .c\:f-xl-#{$i}x {
            font-size: #{$i}px;
        }
    }

    ///*==================================================
    //=== Letter Spacing ==== == = -- -
    //==================================================*/
    @for $i from 1 through 10 {
        .c\:letter-sp-xl-#{$i}x{
            letter-spacing: #{$i}px;
        }
    }



    //==================================================
    //=== Width ==== == = -- -
    //==================================================
    .c\:w-xl-0{
        width: 0;
    }
    .c\:mw-xl-content{
        max-width: max-content;
    }
    .c\:mw-xl-content\!{
        max-width: max-content!important;
    }
    .c\:w-xl-content{
        width: max-content;
    }
    .c\:w-xl-content\!{
        width: max-content!important;
    }
    .c\:w-xl-fit{
        width: fit-content;
    }
    @for $i from 1 through 50 {//pixel
        $w : $i * 10;
        .c\:w-xl-#{$w}x {
            width: #{$w}px;
        }
        .c\:mw-xl-#{$w}x {
            max-width: #{$w}px;
        }
    }
    @for $i from 1 through 20 {//Percent
        $name : $i * 5;
        $value : percentage($i * 5)/100;
        .c\:w-xl-#{$name} {
            max-width: #{$value};
        }
        .c\:mw-xl-#{$name} {
            max-width: #{$value};
        }
    }





    ///*==================================================
    //=== Height ==== == = -- -
    //==================================================*/
    .c\:h-xl-0{
        height: 0;
    }
    .c\:h-xl-content{
        max-height: max-content;
    }
    .c\:mh-xl-content\!{
        max-height: max-content!important;
    }
    .c\:h-xl-content{
        height: max-content;
    }
    .c\:h-xl-content-imp{
        height: max-content!important;
    }
    .c\:h-xl-fit{
        height: fit-content;
    }
    .c\:h-xl-calc40{
        height: calc(100% - 40px);
    }
    .c\:h-xl-calc50{
        height: calc(100% - 50px);
    }
    @for $i from 1 through 50 {//pixel
        $h : $i * 10;
        .c\:h-xl-#{$h}x {
            height: #{$h}px;
        }
        .c\:mh-xl-#{$h}x {
            max-height: #{$h}px;
        }
    }
    @for $i from 1 through 20 {//percent
        $h : $i * 5;
        $per : percentage($i * 5)/100;

        .c\:h-xl-#{$h} {
            height: #{$per};
        }
        .c\:mh-xl-#{$h} {
            max-height: #{$per};
        }
    }

}

@include media-xxl {
    .container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{
        max-width:1320px
    }
    .c\:pos-xxl-0{
        top:    0;
        right:  0;
        bottom: 0;
        left:   0;
    }
    .c\:posy-xxl-0{
        top:    0;
        bottom: 0;
    }
    .c\:posx-xxl-0{
        right:  0;
        left:   0;
    }
    .c\:posl-xxl-0{
        left:   0;
    }
    .c\:posr-xxl-0{
        right:  0;
    }
    .c\:post-xxl-0{
        top:    0;
    }
    .c\:posb-xxl-0{
        bottom: 0;
    }




    ///*==================================================
    //=== Font ==== == = -- -
    //==================================================*/
    @for $i from 8 through 60 {
        .c\:f-xxl-#{$i}x {
            font-size: #{$i}px;
        }
    }

    ///*==================================================
    //=== Letter Spacing ==== == = -- -
    //==================================================*/
    @for $i from 1 through 10 {
        .c\:letter-sp-xxl-#{$i}x{
            letter-spacing: #{$i}px;
        }
    }




    //==================================================
    //=== Width ==== == = -- -
    //==================================================
    .c\:w-xxl-0{
        width: 0;
    }
    .c\:mw-xxl-content{
        max-width: max-content;
    }
    .c\:mw-xxl-content\!{
        max-width: max-content!important;
    }
    .c\:w-xxl-content{
        width: max-content;
    }
    .c\:w-xxl-content\!{
        width: max-content!important;
    }
    .c\:w-xxl-fit{
        width: fit-content;
    }
    @for $i from 1 through 50 {//pixel
        $w : $i * 10;
        .c\:w-xxl-#{$w}x {
            width: #{$w}px;
        }
        .c\:mw-xxl-#{$w}x {
            max-width: #{$w}px;
        }
    }
    @for $i from 1 through 20 {//Percent
        $name : $i * 5;
        $value : percentage($i * 5)/100;
        .c\:w-xxl-#{$name} {
            max-width: #{$value};
        }
        .c\:mw-xxl-#{$name} {
            max-width: #{$value};
        }
    }



    ///*==================================================
    //=== Height ==== == = -- -
    //==================================================*/
    .c\:h-xxl-0{
        height: 0;
    }
    .c\:h-xxl-content{
        max-height: max-content;
    }
    .c\:mh-xxl-content\!{
        max-height: max-content!important;
    }
    .c\:h-xxl-content{
        height: max-content;
    }
    .c\:h-xxl-content-imp{
        height: max-content!important;
    }
    .c\:h-xxl-fit{
        height: fit-content;
    }
    .c\:h-xxl-calc40{
        height: calc(100% - 40px);
    }
    .c\:h-xxl-calc50{
        height: calc(100% - 50px);
    }
    @for $i from 1 through 50 {//pixel
        $h : $i * 10;
        .c\:h-xxl-#{$h}x {
            height: #{$h}px;
        }
        .c\:mh-xxl-#{$h}x {
            max-height: #{$h}px;
        }
    }
    @for $i from 1 through 20 {//percent
        $h : $i * 5;
        $per : percentage($i * 5)/100;

        .c\:h-xxl-#{$h} {
            height: #{$per};
        }
        .c\:mh-xxl-#{$h} {
            max-height: #{$per};
        }
    }
}
